*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  --white: #fff;
  --black: #000;
  --grey-1: #C4C4C4;
  --grey-2: #f9f9f9;
  --green: #08bd37;
  --light-pink: #fff4ea;
  --orange: #fc830a;
  --light-grey: #bdbdbd;
  --dark-grey: #8f8b8b;
}